body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.half-width {
    width: 40%;
    margin-top: 50px;
    position: relative;
    left: 300px;
}

#header-font {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 60px;
    color: #333333;
}

.half-width img {
    width: 60%;
    position: relative;
    bottom: 16%;
}

.half-width a {
    font-size: 16px;
    font-weight: 400;
}

.header-info {
    padding-bottom: 18px;
    font-size: 18px;
}

.about-us-info {
    padding-top: 18px;
    font-size: 16px;
}

.mission-22 {
    color: #e0841a;
}

.flexible-container {
    display: flex;
}

.line {
    border-left: 3px solid #FF5959;
    height: 122px;
    position: absolute;
    left: -15px;
    top: 60px;
    border-radius: 10px;
}

.link-button {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
}

.mission-area {
    margin-bottom: 180px;
}

.mission-2022 {
    text-align: center;
}

.mission-2022 h1 {
    font-size: 48px;
    font-weight: 700;
}

.mission-2022 span {
    color: #e0841a;
}

#mission {
    border: 0px solid black;
    background-color: #4F9DA61A;
    padding: 20px;
    border-radius: 10px;
}

#vision {
    border: 0px solid black;
    margin-left: 10px;
    background-color: #FF59591A;
    padding: 20px;
    border-radius: 10px;
}

#goals {
    border: 0px solid black;
    margin-left: 10px;
    background-color: #FFF4D6;
    padding: 20px;
    border-radius: 10px;
}

.mission-item {
    margin-left: 300px;
    margin-right: 300px;
}

.develop-area {
    margin-bottom: 100px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 25ex;
}

.develop {
    position: relative;
    left: 140px;
    bottom: 74px;
}

.develop h1 {
    font-size: 36px;
    font-weight: 700;
}

.develop a {
    position: relative;
    top: 28px;
}


/* Community Section */

.community-area {
    margin-bottom: 100px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 160ex;
}

.community {
    position: relative;
    bottom: 74px;
}

.community h1 {
    font-size: 36px;
    font-weight: 700;
}

.community a {
    position: relative;
    top: 28px;
}


/* Contact Us */

.contact-us-center h1 {
    font-size: 36px;
    font-weight: 700;
}

.contact-us-form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact-us-area {
    text-align: center;
    margin-left: 300px;
    margin-right: 350px;
    margin-top: 100px;
    margin-bottom: 130px;
}

.name {
    margin-bottom: 10px;
    padding: 20px 0px;
    border: 0px;
    background-color: #FF59591A;
    border-radius: 5px;
    padding-left: 10px;
}

.mail {
    margin-bottom: 10px;
    padding: 20px 0px;
    border: 0px;
    background-color: #FF59591A;
    border-radius: 5px;
    padding-left: 10px;
}

.phone {
    margin-bottom: 10px;
    padding: 20px 0px;
    border: 0px;
    background-color: #FF59591A;
    border-radius: 5px;
    padding-left: 10px;
}

.message {
    margin-bottom: 10px;
    padding: 40px 0px;
    border: 0px;
    background-color: #FF59591A;
    border-radius: 5px;
    padding-left: 10px;
}

.send-button {
    background-color: #FF5959;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 120px;
    border: none;
}


/* footer */

.footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 140px;
}

.footer span {
    color: #fa764e;
}

.footer p {
    font-size: 14px;
    font-weight: 400;
}